@charset "UTF-8";
/* 정회산 구현 */
/* product_list page */
.page_title {
	display: flex;
	justify-content: center;
	align-content: center;
	background-image: url(/img/slider1.jpg);
	background-repeat: no-repeat;
	background-color: #fe6641;
	background-position: center;
	padding: 3rem;
}

.page_title h2 {
	color: white;
}


/* product_list page */
.prdlist_prd {
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
	gap: 1rem;
	margin: 1rem;
}

.prdlist_prd_list {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.prdlist_prd_list:hover {
	box-shadow: 2px 2px 20px #ddd;
}

.prdlist_prd_list a {
	color: black;
}

.prdlist_prd_list a:hover {
	color: #fe6641;
}

.prd_underInfo {
	display: flex;
	font-weight: bold;
	font-size: auto;
	padding-top: 2px;
	;
}

/* 미디어 쿼리 적용 */
/* Small devices (landscape phones, 576px and up) */
@media ( min-width : 576px) {
	.prdlist_prd {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
	}
	.prd_image {
		width: 100%;
		height: auto;
	}
	.prd_underInfo {
		width: 100%;
		flex-direction: column;
		text-align: left;
	}
}

/* Medium devices (tablets, 768px and up) */
@media ( min-width : 768px) {
	.prdlist_prd {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.prd_image {
		width: 100%;
		height: auto;
	}
	.prd_underInfo {
		width: 300px;
		flex-direction: row;
		justify-content: space-between;
	}
	.prd_price {
		justify-content: right;
	}
}
/* Large devices (desktops, 992px and up) */
@media ( min-width : 992px) {
	.prdlist_prd {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.prd_image {
		width: 100%;
		height: auto;
	}
	.prd_underInfo {
		width: 100%;
		flex-direction: row;
	}
	.prd_price {
		justify-content: right;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
	.prdlist_prd {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.prd_image {
		width: 100%;
		height: auto;
	}
	.prd_underInfo {
		width: 100%;
		height: 40px;
		flex-direction: row;
	}
	.prd_price {
		justify-content: right;
	}
}

/* product_detail page */
@media ( max-width :1099px) {
	.prd_detail {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.prdimage, .prd_order {
		width: 100%;
		height: auto;
		justify-content: center;
	}
}

@media ( min-width :1100px) {
	.prd_detail {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.prdimage {
	padding: 30px 10px 15px 20px;
	text-align: left;
	display: flex;
}

.bigImages {
	margin-right: 10px;
}

#big {
	width: 510px;
	height: 510px;
}

.small {
	display: flex;
	width: 170px;
	height: 170px;
	opacity: 0.6;
	cursor: pointer;
}

.active {
	opacity: 1;
}

.prd_order {
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 30px 10px 15px;
}

.prd_detail, .prd_info, .order_info {
	padding-bottom: 0.5rem;
	box-sizing: border-box;
	border-bottom: solid #d2d2d2 1px;
}

.prd_order ul {
	font-size: 15px;
	font-weight: bold;
}

.prd_order li {
	list-style-type: none;
	font-weight: bold;
}

.qty_btn {
	display: flex;
	flex-direction: row;
	padding: 1px 1px 2px;
}

.up_btn, .down_btn {
	all: unset;
	border: solid #d2d2d2 1px;
	width: 30px;
	height: 30px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #a0a0a0;
}
.up_btn, .down_btn, #order_qty {
	background-color: #E9E9E9;
}

#post_btn {
	font-size: 11px;
	width: auto;
	background-color: #CDCECE;
	color: #FFF;
	padding: 3px 3px;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

#post_btn:hover {
	background-color: #FE6641;
}

#order_qty {
	width: 30px;
	text-align: center;
	border: solid #d2d2d2 1px;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

#order_total {
	font-size: 20px;
}

.order_info {
	padding-top: 0.5rem;
}

.order_info li {
	padding: 5px 0px 5px;
}

.order_section {
	display: flex;
	align-items: center;
}

#order_total {
	font-weight: bold;
	padding: 15px 1px;
}

.order_btn {
	margin-top: 0.5rem;
	display: block;
	position: relative;
	float: left;
	width: 120px;
	padding: 0;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
	background-color: #fe6641;
	box-shadow: 0px 5px 0px 0px #cb5234;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.order_btn.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #cb5234;
}

#btn1 {
	margin-right: 10px;
}

input[id="recipient"] {
	width: 170px;
	height: 18px;
	font-size: 14px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

input[class="address"] {
	width: 250px;
	height: 18px;
	font-size: 14px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

select[class="phone_num"] {
	width: 53px;
	height: 18px;
	font-size: 13px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

input[class="phone_num"] {
	width: 40px;
	height: 18px;
	font-size: 13px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
/* orderComplete */
.complete_head {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 30px 10px 15px;
}

.complete_img {
	width: 56px;
	height: 56px;
	padding-right: 10px;
}

.complete_info {
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/*** Table Styles **/
.table-fill {
	background: white;
	border-radius: 3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
	color: #682A1B;
	background: #FE6641;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	padding: 24px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}

th:first-child {
	border-top-left-radius: 3px;
}

th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
	background: #823522;
	color: #FFFFFF;
	border-top: 1px solid #682A1B;
}

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

tr:nth-child(odd) td {
	background: #EBEBEB;
}

tr:nth-child(odd):hover td {
	background: #823522;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

td {
	background: #FFFFFF;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child {
	border-right: 0px;
}

.text-title {
	font-size: 18px;
	font-weight: bold;
}

.td-1 {
	width: 70px;
	text-align: left;
	font-weight: bold;
	color: CB5234;
}

.td-2 {
	font-size: 13px;
	font-weight: 2;
	text-align: left;
}

.ThankYou {
	margin-top: 30px;
	font-weight: bold;
	font-style: italic;
}


/* 정회산 구현 */